html
{
	background-image: url(images/fondBeige.jpg);
}

body
{
  margin: auto;
  max-width: 60rem;
}

header h1 {
	display: inline;
	padding-bottom: 20px;
}

nav {
	margin: 3em auto;
	border-bottom: .3em solid green;
}

nav li {
	display: inline;
	margin: 1.3em;
	padding: 1.05em;
	text-align: center;
	border-radius: 1em 1em 0 0;
	border: .3em solid green;
}

a:link {
	text-decoration:none;
}

a {
	color:black;
}

article {
		width: 55%;
		display:inline;
		float:left;
		margin-bottom: 1em;
}

aside {
	width: 35%;
	display: inline;
	float:right;
	background-color: green;
}

footer{
  position: absolute;
  width: auto; height: 5px;
  bottom: 0; left: 0; right: 0;
  border-top: .3em solid green;
  padding: 0;
  margin:0;
}

footer ul li {
	display: inline;
	text-align: center;
}